@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,600,700);

$colors-list: #eeb934,
#e7a235,
#dd7a32,
#6f64bf,
#5b52aa,
#413d93;


body {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: #FFF;
	background: #373643;
}
.wrapper {
	width: 25rem;
	margin: 100px auto;
	.header {
		display: flex;
		flex-direction: row;
		background: #f2f2f7;
		font-size: 1.3rem;
		div {
			flex-grow: 1;
			line-height: 3.5rem;
			text-align: center;
			color: #9e9bad;
		}
		.refresh {
			width: 4rem;
			cursor: pointer;
		}
		.logo {
			font-size: 1.8rem;
			flex-grow: 10;
		}
		.add {
			width: 4rem;
			cursor: pointer;
		}
	}
	.content-wrapper {
		// overflow: hidden;
		position: relative;
		z-index: 1;

		.timezone-container {
			perspective: 1200px;
			transform-style: preserve-3d;
			position: relative;
			transform: rotateY(0deg);
			perspective-origin: 50% 50%;
			z-index: 0;
			transition: 0s z-index ease .5s;
			&:hover {
				z-index: 2;
				transition: 0s z-index ease;
			}
			&:nth-child(odd) {
				.timezone-item {
					&:hover {
						transform: rotateY(45deg);
					}
					.timezone-side {
						transition: .5s all ease;
						height:5.3rem;
						transform: rotateY(90deg) translateZ(0em);
						background: linear-gradient(to left, rgba(30,29,37,1) 0%, rgba(89,86,109,1) 100%);
						width: 100%;
						position: absolute;
						left: 0;
						top: 0;
						transform-origin: left center;
					}
				}
			}
			&:nth-child(even) {
				.timezone-item {
					&:hover {
						transform: rotateY(-45deg);
					}
					.timezone-side {
						transition: .5s all ease;
						height:5.3rem;
						transform: rotateY(-90deg) translateZ(0em);
						background: linear-gradient(to left, rgba(30,29,37,1) 0%, rgba(89,86,109,1) 100%);
						width: 100%;
						position: absolute;
						right: 0;
						top: 0;
						transform-origin: right center;
					}
				}
			}
			.timezone-item {
				transform-origin: center center -7.8rem;
				transition: .5s transform ease;
				transform-style: preserve-3d;
			}
			@each $current-color in $colors-list {
				$i: index($colors-list, $current-color);
				&:nth-child(#{$i}) {
					.timezone {
						background: $current-color;
					}

				}
			}
			// .timezone-side {
			// 	transition: .5s all ease;
			// 	height:5.3rem;
			// 	transform: rotateY(90deg) translateZ(0em);
			// 	background: linear-gradient(to left, rgba(30,29,37,1) 0%, rgba(89,86,109,1) 100%);
			// 	width: 100%;
			// 	position: absolute;
			// 	left: 0;
			// 	top: 0;
			// 	transform-origin: left center;
			// }
			.timezone {
				transition: .5s all ease;
				padding: 1rem;
				position: relative;
				z-index: 3;
				transform-origin: left center;
				.location {
					display: inline-block;
					margin-bottom: .3rem;
					.capital {
						font-weight: bold;
					}
					.country {
						margin-left: .3rem;
						opacity: .8;
					}
				}
				.date {
					margin-bottom: .1rem;
					font-weight: 100;
					font-size: .7rem;
					opacity: .8;
				}
				.gmt {
					font-weight: 100;
					font-size: .7rem;
					opacity: 8;
				}
				.time {
					line-height: 3.6rem;
					float: right;
					font-weight: 100;
					font-size: 3.7rem;
					span {

					}
					.period {
						float: right;
						margin-left: .2rem;
						line-height: auto;
						font-weight: 300;
						font-size: .6rem;
						opacity: .8;
						line-height: 1rem;

					}
				}
			}
		}
	}
	.options {
		background: #1d1c24;
		text-align: center;
		font-size: 1rem;
		line-height: 4rem;
		span {
			color: #a7a4b4;
		}
	}
}